# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# SQLite (if you test with it)
*.db

# Alembic migrations cache
alembic/versions/*.pyc

# FastText Vector Files
*.vec

*.bin.vectors.npy
*.npy
backend/data/fastText-Cebuano.bin.vectors.npy
backend/data/fastText-Tagalog.bin.vectors.npy
